.performance-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px!important;  
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 19px;
  overflow: hidden;
}

.performance-title {
  font-size: 18px!important;
  font-weight: 700;
  color: var(--brand-HeadingColor);
}

.performance-chart-wrapper {
  width: 100%;
  height: 360px;
  position: relative;
}

.performance-chart{
  margin-top: 24px;
  padding: 0 8px;
  height: 368px; 
}

.insideLegend {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.customLegend {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  padding: 6px 12px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.85);
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Arimo', sans-serif;
  margin-top: -120px; 
}

@media (max-width: 768px) {

  .performance-title {
    margin-bottom: 16px;
    margin-left: 20px;
  }

  .legendName {
    display: none !important;
  }

  .customLegend {
    gap: 16px;
    margin-top: 12px;
  }

  .legendItem{
    display: none!important;
    margin:0;
  }

    .performance-card {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0!important;
  }

  .performance-chart {
    padding-left: 0 !important;
    padding-right: 18px !important;
    margin-bottom: 0 !important;
  }

  .performance-chart{
  margin-top: 14px;
  padding: 0 px;
  height: 316px; 
}
}


