.appointmentSidebarMenu {
  width: 47px !important;
  display: flex;
  justify-content: flex-start;
  margin: 0 !important;
  padding: 0 !important;
}


.appointmentSidebar-nav {
  padding: 26px 0;
  width: 100%;
  border: 2px solid var(--brand-yellow);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: white;
  margin-left: 0 !important;
  padding: 26px 0;
  padding-left: 0 !important;   
  margin-left: 0 !important;
}

/* Sidebar Navigation */
.appointmentSidebar-nav .appointmentSidebar-link {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Icon Wrapper */
.appointmentSidebar-icon-wrap {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Active State */
.appointmentSidebar-link.active {
  justify-content: flex-end;
}

.appointmentSidebar-link.active .appointmentSidebar-icon-wrap {
  background: var(--brand-yellow)!important;
  border-radius: 5px 0 0 5px;
  width: 37px;
  height: 34px;
  margin-right: 0;
  margin-left: auto; 
}

/* Non-active */
.appointmentSidebar-link:not(.active) {
  justify-content: center;
}

/* Icon Size */
.icon-Size {
  width: 20px;
  height: 20px;
  display: block;
}

/* Hover */
.appointmentSidebar-link:hover:not(.active) {
  background-color: #F8F8F8;
}

.appointmentSidebar-link.active .appointmentSidebar-icon-wrap:hover {
  background: #FFE87C !important;
}

.adminimg {
  width: 26px;
  height: 65px;
}

/* Admin Icons Section */
.appointmentSidebar-admin-icons {
  width: 100%;
  margin-top: auto;
}

/* Responsive */
@media (max-width: 768px) {
.appointmentSidebarMenu{
display: none;
  }
}

@media (max-width: 576px) {
 .appointmentSidebarMenu{
display: none;
  }
 
}