.moon-icon{
    background-color: var(--brand-lightGray);
    border-radius: 8px;
    width: 33px;
    height: 33px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    margin-left: 1px!important;
}

.yellowButton{
    background-color: var(--brand-yellow)!important;
    border-radius: 8px!important;
    border: none!important;
    height: 40px!important;
    padding: 0 15px !important;
}

.yellowButton span{
    font-size: 14px;
    font-weight: 500 !important;
}

.plusIcon{
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.top-bar{
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    height: 51px!important;
}

.topbar-heading{
color: #404145;
font-size: 18px !important;
font-weight: 500;
margin-left: 20px;
}

.top-bar {
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  min-height: 51px;
  padding: 6px 10px;
}

.topbar-heading {
  color: #404145;
  font-size: 18px;
  font-weight: 500;
}


@media (max-width: 576px) {

  .topbar-heading {
    font-size: 15px;
  }

  .yellowButton {
    height: 34px !important;
    padding: 0 10px !important;
  }

  .btn-text {
    display: none;   
  }

  .moon-icon {
    width: 28px;
    height: 28px;
  }

}



