
/*body{
    background-color: rgb(49, 49, 49)!important;
}*/

.notificationCard{
    background-color: white;
    border-radius: 14px !important;
    border: none!important;
    padding:24px 24px 0.8px;
    height: 140px !important;
}

.heading-icon img{
    max-width: 20px;
}

.cardHeading{
    color:#4A5565;
    font-weight: 400;
}

.line-tight{
    line-height: 0.7; 
    margin: 0;
}

.smallText{
    font-size: 12px;
    font-weight: 400;
}