

.notificationCard{
    background-color: white;
    border-radius: 16px !important;
    border: 0.8 solid #E5E7EB;
    padding:20px 24px 0.8px;
    max-height: 135px !important;
    height: 100%;
    max-width: 224px;
    width: 100%;
}

.heading-icon img{
    max-width: 20px;
}

.cardHeading{
    color:#4A5565;
    font-weight: 400;
}

.line-tight{
    line-height: 1; 
    margin: 0;
}

.smallText{
    font-size: 12px;
    font-weight: 400;
}