
.preview-cards{
  display: flex;
  gap: 15px;
  height: auto;              
  max-height: none;          
  flex-wrap: wrap;           
  align-items: stretch;
  margin-top: 19px !important;
}

.NotificationPreview h4{
  font-size: 18px;
  font-weight: bold;
  margin-left:12px;
  color:var(--brand-HeadingColor);
}

.NotificationPreview{
  border-radius: 14px;
  background-color: white;
  padding: 20px;
  flex: 1;
  border: 0.8px solid rgba(0, 0, 0, 0.08);
}

.floating-plus-btn {
  display: none!important; 
  position: fixed;
  bottom: 32px;
  right: 45px;
  width: 64px;
  height: 64px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease;
  padding: 0;
}

.mobile-only {
display: none !important;
}

@media (max-width: 768px) {
 .mobile-only {
    display: block !important;
  }

  .NotificationPreview h4{
  margin-left: 0;
}

.preview-cards {
    flex-direction: column;
  }

   .NotificationPreview {
    flex: unset;
    width: 100%;
  }
}
