.nextbtnContainer {
  width: 100%;
  max-width: 237px;
  height: 66px;
  background: #F9F9FF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px; 
}

.previewOptions{
  width: 100%;
  max-width: 237px;
  height: 161px;
  background: #F9F9FF;
  border-radius: 12px;
   display: flex;
  justify-content: center;
  flex-direction: column;
  gap:18px;
  padding: 19px 24px;
  
}
.option-icons{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.option-icons span{
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #494949;
}