.nextbtnContainer {
  width: 100%;
  max-width: 237px;
  height: 66px;
  background: #F9F9FF!important;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}
.previewOptions {
  width: 100%;
  min-width: 237px;
  background: #F9F9FF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  margin-top: 10px;
}

.option-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
  cursor: pointer;
}

.option-icons:hover {
  background: #F0F0FF;
}

.option-icons span {
  font-weight: 400;
  font-size: 12px!important;
  line-height: 16px;
  color: #494949!important;
}

.option-content {
  padding: 8px 24px 14px 24px;
}

.option-content-text {
  font-size: 12px!important;
  color: #494949!important;
  font-weight: normal !important;
  margin: 0;
}


@media (max-width: 900px) {
  .nextbtnContainer,
  .previewOptions {
    width: 100%;
    max-width: 100%;
     background-color: white;
  }
  
 .previewOptions{
  margin-top: 24px!important;
  gap:3px!important;
 }
 
}


