.moon-iconimg{
    background-color: var(--brand-lightGray);
    border-radius: 8px;
    width: 33px;
    height: 33px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    margin-left: -2px;
}

.top-bar{
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    height: 51px!important;
}

.topbar-heading{
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #404145;
margin-left: -7px;
}




