.sb-sidebarMenu {
  width: 41px !important;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
}

.sb-sidebar-nav {
  padding: 20px 0;
  width: 100%;
  border: 1px solid var(--brand-yellow);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sb-sidebar-nav .sb-sidebar-link {
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sb-icon-wrap {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sb-iconSize {
  width: 11px !important;
  height: 12px !important;
}

.sb-sidebar-link.active {
  border-radius: 5px 0 0 5px;
  width: 37px;
  height: 34px;
  background: #FFE24D;
  position: relative;
  left: 2px;
  

  
}
