.statusSidebarMenu {
  width: 47px !important;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  box-sizing: content-box!important;
}

.statusSidebar-nav {
  padding: 24px 0;
  width: 100%;
  border: 2px solid var(--brand-yellow);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: white;
}

.statusSidebar-nav .statusSidebar-link {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.statusSidebar-divider{
  margin-top: -20px;
}

.statusSidebar-group{
  margin-top: -20px;
}

.statusSidebar-icon-wrap {
  height: 34px;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusSidebar-link.active {
  justify-content: flex-end;
}

.statusSidebar-nav > .statusSidebar-link.active .statusSidebar-icon-wrap {
  background: var(--brand-yellow)!important;
  border-radius: 5px 0 0 5px;
  height: 34px;
  margin-right: 0;
  margin-left: auto; 
}

.statusSidebar-link:not(.active) {
  justify-content: center;
}

.statusSidebar-icon {
  display: block;
}


@media (max-width: 768px) {
.statusSidebarMenu{
display: none;
  }
}

@media (max-width: 576px) {
 .statusSidebarMenu{
display: none;
  }
 
}