.OnboardingType {
  background: #F8F9FE;
  min-height: 100vh;
}

.bodyContainer {
  display: flex;
  width: 100%;
  padding-bottom: 100px;
}

.sidebar {
  width: 41px;
  flex-shrink: 0;
}

.bodyContent {
  flex: 1;
  padding: 0 24px;
  min-width: 0;        
  max-width: 100%;     
  overflow-x: hidden;  
}


/* ---------- RESPONSIVE ---------- */

@media (max-width: 991px) {
  .bodyContainer {
    flex-direction: column; 
  }

  .sidebar {
    width: 100%;
    display: none; 
  }

  .bodyContent {
    padding: 0 12px;
  }
}


@media (max-width: 575px) {
  .bodyContent {
    padding: 0 10px;
  }
}
