@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*font-family: "Arimo", sans-serif;*/
  font-family: "Roboto", sans-serif;
  /*background-color: #F8F9FE;*/
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #F8F9FE!important;
  overflow-x: hidden;
}

:root {
  --brand-primary: #155DFC; 
  --brand-blue:#008EF5;
  --brand-green: #00A63E; 
  --brand-orange: #F54900;
  --brand-purple: #9810FA;
  --brand-bluishgreen: #009689;
  --brand-gray:#6A7282;
  --brand-lightGray:#F6F6F6;
  --brand-yellow:#FFD705;
  --brand-bodyColor:#818181;
  --brand-HeadingColor:#1A202C;
}
